.btn-primary{
    border: none;
    cursor: pointer;
    background: linear-gradient(to top right, $color-primary, $color-secondary);
    border-radius: 8px;
    box-shadow: 1px 1px 10px -1px $color-box-shadow;
    color: $color-text-primary;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1.2px;
    transform: translateY(0);
    transition: transform .2s ease-in-out;

    &:active{
        transform: translateY(3px);
    }
}