$color-primary: #000144;
$color-primary-light: rgb(0, 1, 68, .9);
$color-secondary: #700047;
$color-secondary-light: rgb(112, 0, 71, .9);

$color-text-primary: #ffffff;

$color-box-shadow: rgba(255, 255, 255, 0.2);